!!!

%html
  %head{ :profile => "http://www.w3.org/2005/10/profile" }
    %title
      Don’t Lose Track!

    %link{ :rel => "icon", :type => "image/png", :href => "/favicon.png" }
    -#%link{ :type => "text/css", :href => "http://fonts.googleapis.com/css?family=Nunito", :rel => "stylesheet" }

    %link{ :type => "text/css", :href => "/css/dateinput.css", :rel => "stylesheet" }
    %link{ :type => "text/css", :href => "/css/colorpicker.css", :rel => "stylesheet" }
    %link{ :type => "text/css", :href => "/css/style.css", :rel => "stylesheet" }
    %link{ :type => "text/css", :href => "/css/pyg_github.css", :rel => "stylesheet" }
    %link{ :media => "print", :type => "text/css", :href => "/css/print.css", :rel => "stylesheet" }
    %script{ :src => "/js/contrib/require.js" }
    %script{ :src => "/js/app/require.config.js" }
    :javascript
      require(['app']);

  %body
    #header.topbar.clearfix
      #logo
        .logo
          %h3.logo
            %a{ :href => "/" }
              Don't Lose Track!
        .project-name
        .topnav#topnav
          %a.signin
            %span.user-name
              = "#{@user.name}"
            %span.alias
              = "(#{@user.alias})"
            %span.drop-icon
        .drop-nav
          .rel
            .left
              %img{ :src => "http://www.gravatar.com/avatar/#{@user.email_hashed}?d=mm&s=48" }
            .right
              .row
                %a{ :href => "#user/settings" }
                  Settings
              .row
                %a{ :href => "/logout" }
                  Logout
            .clearer

      -#navbar.clearfix
        .grid_16


    .container
      .main.center.column
        #errors.hide
        .panes
          #main-pane
          &nbsp;

      .sidebar.left.column#sidebar-left
        #navbar

      .sidebar.right.column
        #sidebar

      
    #ajax-load-overlay
      %img{ :src => "/img/ajax_load.gif", :alt => "Loading..." }

    
    .overlay#cheat-overlay
      .content-wrap
    #mask

    #footer
      .grid_16
        &copy 2012 Alex Hornung, Gema Gomez
        •
        Don't Lose Track!
        %a{ :href => "https://github.com/bwalex/DontLoseTrack" }
          = $version

    #tagdrag
